@import url(https://fonts.googleapis.com/css?family=Lato);

.up_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 122px;
    height: 830px;
    background: #dbb9ffc2;
    box-shadow: 2px 8px 20px #76638894;
}

.up_part h1 {
    flex: 1; 
    margin-right: 20px;
    margin-left: 40px;
    font-size: 3.9em; 
    font-family: 'Lato', 'Arial';
    font-weight: bold;
    color: #4aa85e;
    text-shadow: 2px 2px #222;
}

#Voluntari {
    max-width: 100%;
    width: 50%;
    margin-top: 10px;
    margin-right: 65px;
    border-radius: 40%;
}

.part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    height: 830px;
    line-height: 1.5;
    box-shadow: 2px 11px 20px #76638894;
    color: #55bd6c;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    width: 40%;
}

.more ul {
    padding-left: 40px;
    width: 57%;
}

.more li {
    margin-bottom: 10px;
    list-style-type: disc;
}

.more p {
    margin: 0;
    line-height: 1.5;
   text-shadow:2px 2px 4px rgba(170, 170, 170, 0.5);
}

.more p:first-child::first-letter {
    font-size: 48px;
    float: left;
    margin-right: 10px;
    line-height: 0.8;
    color: #409c53;
    font-weight: bold;
}

.more img {
    width: 30%;
    height: 500px;
    margin-right: 180px;
}

.mot {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: #409c53;
    padding: 40px;
    background: #caa8eec2;
    box-shadow: 2px 5px 2px #76638894;
    margin-top: -20px;
    height: 830px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mot h2 {
    font-size: 32px;
    font-weight: bold;
    padding-left: 110px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(173, 172, 172, 0.3);
    width: 50%;
    color: #54c069;
}

.mot p {
    padding-left: 110px;
    margin: 0;
    line-height: 1.5;
    width: 50%;
    color: #48aa5c;
}

.mot ul {
    padding-left: 140px;
    list-style-type: disc;
    width: 60%;
}

.mot li {
    margin-bottom: 10px;
}

.mot img {
    width: 35%;
    height: 90%;
    margin-top: 10px;
    margin-right: 65px;
    border-radius: 40%;
}


.part{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card{
    width: 325px;
    background-color: #b3b3b3;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

.content{
    padding: 16px;
}

.content h3 {
    color: #5c2696ec;
    font-size: 25px;
    line-height: 1.3;
    font-weight: bolder;
}

.content .mai{
    display: inline-block;
    padding: 8px 16px;
    background-color: #54c069;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
    transition: 0.5s;
}

.content .mai:hover{
    color: #efddffee;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content img{
    width: 50%;
  }

  .modal-content p {
    width: 40%;
    float: right;
    font-size: 18px;
    margin-top: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
  }



  @media screen and (max-width: 480px) {
    body{
        overflow-x: hidden;
    }

    .up_part {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      padding: 20px;
      overflow: hidden;
    }
  
    .up_part h1 {
      font-size: 2.4em;
      margin-right: 0;
      margin-left: 0;
      text-align: center;
    }
  
    #Voluntari {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: 0 auto;
      }
  
    .more {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 20px;
    }
  
    .more h2 {
      font-size: 1em;
      width: 100%;
      text-align: center;
    }
  
    .more ul {
      width: 100%;
      padding-left: 0;
      margin-top: -20px;
    }
  
    .more p {
      width: 100%;
      text-align: center;
      font-size: 15px;
    }
  
    .more img {
        margin-top: 50px;
      width: 70%;
      height: auto;
      margin-right: 0;
    }
  
    .mot {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
      }
    
      .mot h2 {
        font-size: 1.5em;
        width: 100%;
        margin-left: -110px;
        text-align: center;
      }
    
      .mot p {
        width: 100%;
        font-size: 1em;
        margin-left: -120px;
        text-align: center;
      }
    
      .mot ul {
        width: 100%;
        padding-left: 0;
        font-size: 1em;
        margin-left: -20px;
      }
    
      .mot li {
        margin-bottom: 10px;
        list-style: none;
      }
    
      .mot img {
        width: 90%;
        height: auto;
        margin-right: 0;
        margin-top: 40px;
        margin-bottom: 0px;
      }
    
      .part {
        flex-direction: column;
        margin-top: 5px;

      }
    
      .card {
        width: 100%;
        margin: 0px;
        margin-bottom: 5px;
      }
    
      .content h3 {
        font-size: 1.5em;
      }
    
      .content .mai {
        font-size: 1em;
        padding: 5px 10px;
      }
    
.modal{
  width: 100%;
}

      .modal-content {
        width: 80%;
      }
    
      .modal-content p {
        width: 100%;
        float: none;
        margin-top: 40px;
      }
    
      .card img {
        width: 100%;
        height: auto;
      }
    
      .content {
        padding: 10px;
      }
    
      .content p {
        font-size: 0.8em;
      }
    
      .content .mai {
        font-size: 0.8em;
        padding: 5px 10px;
      }
    
      .modal-content p {
        font-size: 0.8em;
      }

      .footer .row ul{
        left: -12%;
      }
  }